#enq form {
    width: calc(100vw - (2 * var(--padding-body)));
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 2em;
}

#enq fieldset {
    --color-var: 255, 255, 255;
    background-color: rgba(var(--color-var), 0.3);
    max-width: 500px;
    padding: 0 16px 16px 16px;
    border-radius: 10px;
    transition: all 0.2s ease;
    border: 2px solid black;
    border-top: none;
    margin-bottom: 1em;
}

#enq fieldset:focus-within,
#enq fieldset:hover {
    background-color: rgba(var(--color-var), 0.6);
}

#enq legend {
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 1.5em;
}

#enq input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
}

#enq .radio label {
    display: block;
    width: auto;
    height: auto;
    background-color: white;
    padding: 5px 10px;
}

#enq>form>fieldset:not(.radio)>legend {
    margin-bottom: 0.5em;
}


#enq input:not([type=submit]):focus,
#enq input:not([type=submit]):hover {
    transition: all 0.2s ease;
    background-color: rgb(207, 207, 207);
}

#enq .radio input:focus + label,
#enq .radio input:hover + label,
#enq .radio input:checked + label {
    transition: all 0.2s ease;
    background-color: rgb(121, 255, 215);
    box-shadow: 1px 1px 2px 0px #000000;
}

.slider {
    margin: auto;
    height: 1em;
}

.slider + p {
    margin-left: 1em;
    display: inline-block;
}

textarea {
    width: 100%;
}

#results {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 2em;
}

#results section {
    transition: all 0.2s ease;
    border-bottom: 2px solid var(--color2);
}

#results section:hover {
    border-bottom: 2px solid var(--color1);
}