<%- include ('./partials/header.html') %>

<header id="home">
    <h1>Hallo <%= name %></h1>
    <p>Deze enquêtes zijn voor jou</p>
</header>

<main id="overview">
    <section>
        <h2>Nog te maken:</h2>
        <ul id="todo">
            <% make.forEach(enq => { %>
            <li>
                <a href="enq/<%= enq %>"><%= enq %></a>
            </li>
            <% }); %>
        </ul>
    </section>
    <section>
        <h2>Al afgerond:</h2>
        <ul id="done">
            <% done.forEach(enq => { %>
            <li>
                <p><%= enq %></p>
            </li>
            <% }); %>
        </ul>
    </section>
</main>

<%- include ('./partials/footer.html') %>