<%- include ('./partials/header.html') %>

<header>
    <h1>Hallo <%= name %></h1>
    <p>Deze enquêtes zijn voor jou</p>
</header>

<main>
    <ul>
        <li>
            <a href="enq/PWA">PWA</a>
        </li>
        <li>
            <a href="enq/browser-technologies">Browser Technologies</a>
        </li>
        <li>
            <a href="enq/WAFS">WAFS</a>
        </li>
        <li>
            <a href="enq/CSS-to-the-resque">CSS-to-the-resque</a>
        </li>
        <li>
            <a href="enq/Real-time-web">Real-time-web</a>
        </li>
        <li>
            <a href="enq/HCD">HCD</a>
        </li>
        <li>
            <a href="enq/Meesterproef">Meesterproef</a>
        </li>
    </ul>
</main>

<%- include ('./partials/footer.html') %>