<%- include ('./partials/header.html') %>

<header id="home">
    <h1>Enquête <%= course %></h1>
</header>


<main id="enq">
    <form action="/<%= id %>/enq-redirect/<%= course %>" method="post">
        <fieldset class="radio">
            <legend>Docenten <%= course %></legend>
            <% data.lecturer.forEach(lecturer => { %>
            <input type="radio" id="<%= lecturer %>" name="lecturer" value="<%= lecturer %>" required>
            <label for="<%= lecturer %>"><%= lecturer %></label>
            <% }); %>
        </fieldset>
        <fieldset class="radio">
            <legend>Wanneer volgde je dit vak?</legend>
            <input type="radio" id="period1" name="period" value="Week 1 t/m 4" required>
            <label for="period1">Week 1 t/m 4</label>
            <br>
            <input type="radio" id="period2" name="period" value="Week 5 t/m 8" required>
            <label for="period2">Week 5 t/m 8</label>
            <br>
            <input type="radio" id="period3" name="period" value="Week 9 t/m 12" required>
            <label for="period3">Week 9 t/m 12</label>
            <br>
            <input type="radio" id="period4" name="period" value="Week 13 t/m 16" required>
            <label for="period4">Week 13 t/m 16</label>
        </fieldset>
        <fieldset>
            <legend>Geef <%= course %> een cijfer</legend>
            <label for="grade">Mijn cijfer:</label>
            <input type="number" min="1" max="10" step="1" id="grade" name="grade" required>
        </fieldset>
        <fieldset class="radio">
            <legend>Hoe was de lesstof?</legend>
            <input type="radio" id="material_good" name="material" value="Boven verwachtingen" required>
            <label for="material_good">Boven verwachtingen</label>
            <br>
            <input type="radio" id="material_medium" name="material" value="Zoals verwacht" required>
            <label for="material_medium">Zoals verwacht</label>
            <br>
            <input type="radio" id="material_bad" name="material" value="Slechter als verwacht" required>
            <label for="material_bad">Slechter als verwacht</label>
        </fieldset>
        <fieldset class="radio">
            <legend>Werd alles goed uitgelegd?</legend>
            <input type="radio" id="content_good" name="content" value="Alles werdt tot in hoog detail uitgelegd"
                required>
            <label for="content_good">Alles werdt tot in hoog detail uitgelegd</label>
            <br>
            <input type="radio" id="content_medium" name="content" value="Alles werd uitgelegd tot op redelijk niveau"
                required>
            <label for="content_medium">Alles werd uitgelegd tot op redelijk niveau</label>
            <br>
            <input type="radio" id="content_bad" name="content" value="Uitleg ging niet diep de stof in" required>
            <label for="content_bad">Uitleg ging niet diep de stof in</label>
        </fieldset>
        <fieldset class="radio">
            <legend>Ik heb van dit vak veel geleerd</legend>
            <input type="radio" id="learning_good" name="learning" value="Ja, ik heb veel geleerd" required>
            <label for="learning_good">Ja, ik heb veel geleerd</label>
            <br>
            <input type="radio" id="learning_bad" name="learning" value="Nee, ik heb niet veel geleerd" required>
            <label for="learning_bad">Nee, ik heb niet veel geleerd</label>
        </fieldset>
        <fieldset>
            <legend>Opmerkingen</legend>
            <label for="comments"></label>
            <textarea name="comments" id="comments" cols="50" rows="5"></textarea>
        </fieldset>
        <input type="submit" value="Verstuur"></input>
    </form>
</main>

<%- include ('./partials/footer.html') %>